<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios Previos al Fútbol</title>
</head>
<body>
        <h1>Ejercicios para Prepararse Antes de Jugar al Fútbol</h1>

            <h2>Ejercicio 1: Calentamiento de piernas</h2>
            <p>Este ejercicio es ideal para aumentar la movilidad de las piernas, activar los músculos de las caderas y los muslos, y preparar las piernas para movimientos rápidos en el campo.</p>
        
            <h2>Ejercicio 2: Estiramiento de isquiotibiales</h2>
            <p>Este ejercicio ayuda a alargar y preparar los músculos de la parte posterior de los muslos, lo que es esencial para prevenir lesiones durante el juego.</p>
        </div>
        
            <h2>Ejercicio 3: Saltos pliométricos</h2>
            <p>Los saltos pliométricos son ideales para mejorar la explosividad y la fuerza de las piernas, características cruciales para los sprints y saltos durante el partido.</p>
        </div>

        <button onclick="location.href='/rutina';">Ver Rutina Completa</button>
        <button onclick="location.href='inicio'">Volver al inicio
    </div>
</body>
</html>